#main-header .nav-tabs{  overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;  
    display: -moz-box;   }
	#main-header .nav-tabs > li{float:none;}
#main-header .nav-tabs > li > a { position: relative; display: inline-block; padding: 12px 24px;}
#main-header .nav-tabs li a{color:#212222;font-size:18px;background:transparent;border:0px;font-weight:500;}
#main-header .nav-tabs li.active , #main-header .nav-tabs li:active {font-weight:500;border-bottom:3px solid #309f25 !important;border:0px;color:#309f25;}
#main-header .nav-tabs li:hover a, #main-header .nav-tabs li:focus a{font-weight:500;border:0px;color:#309f25;}

.result-set{overflow:auto;overflow-x:auto;}
.modal-header .close{font-weight:500;font-size:50px;margin-top:8px;}

.static-content-wrapper .tab-content{padding:8px;}
.roles-header{padding:0px 8px;}
/* .static-content-wrapper .header{display:inline-flex} */
.static-content-wrapper .header-left h3 {font-weight:600;}
.dropdown{margin-bottom:8px;}
@media(min-width:767px){.static-content-wrapper .header-right{text-align:right;} .header-right .dropdown-menu, .tt-dropdown-menu{left: auto;right: 0!important;}}
.static-content-wrapper .header-right .btn-trans{margin-top:12px; padding:8px 20px; background:#309f25;color:#fff;}
.static-content-wrapper .panel{margin-top:8px;padding:8px 0px 0px;background:transparent;margin-bottom:10px;
	border:0px}

.dropdown-menu, .tt-dropdown-menu{left: auto;right: auto;}
.panel .actions-right{text-align:right}
.panel .actions-right .fa{color:#bcc0c7;font-size:20px;padding:4px;}
.btn{font-weight:600;} 
.btn:focus, button {outline:none;} 
nav.page{text-align:right;}

#dataTable tr td{padding:5px;}

.modal-title {font-family:'Open Sans'; }
.modal-title span{font-weight:600;}
.edit-title span{color:#309f25;}
.btn-create, .btn-save{background-color:transparent;border:1px solid #339E2A; color:#339E2A;padding:10px 30px;font-size:16px;margin-top:20px;}
.btn-create:hover, .btn-save:hover{background-color:#339E2A;color:#fff; }
.btn-back{font-size:16px;margin-top:10px;color:#000;background:#ccc;padding:8px 25px;}
.btn-back:hover{background-color:#000;color:#fff;}

ul.realTime li.active span i{ display:inline-block;position:relative;font-size:18px;}
ul.realTime li.active:hover span {display:inline-block;opacity:1;color:#ccc;} 
ul.realTime li.active:hover span i { color:#999999;background:transparent; border-radius:5px;}

ul.realTime li.active span i {  padding:5px; }
ul.realTime li.active span { 
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: right;
	background:transparent;
	display:block;
	opacity:0;
} 
ul.realTime li.active:hover span i:hover{ background-color:#ccc;color:#5C5C5C;}
ul.realTime li.active:hover{background-color:#}




.project-add-button{float:right;}
.project-add-button .btn-add{border:1px solid #309f25; color:#fff;background:#309f25;padding:8px 20px;margin-top:10px} 



#main-header .nav-tabs::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px; 
}

#main-header .nav-tabs::-webkit-scrollbar
{
	width: 10px;
	height:5px;
	background-color: #F5F5F5;
}

#main-header .nav-tabs::-webkit-scrollbar-thumb
{ 
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

 
 .result-set{margin-top:10px;}
 
 
 

/*  <style>
	  .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
</style> */

/**--------- Table actions style--------**/
 .action-edit, .action-delete{background:transparent;border:none;outline:none;color:grey} 
 .action-edit:hover{color: #ffa303}
 .action-delete:hover{color: #ff4343}
 
  
 
#myDiv.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
 }

#myDiv{background:#F4F5F8;}
#myDiv .toggle-button{ float:right;background:transparent;border:0px;}