body { 
    font-family: "Open Sans", sans-serif; 
}

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

a, a:hover, a:visited, a:focus, a:active {
    text-decoration: none !important;
    outline: none !important;
}

li {
    list-style: none;
}

.board-con {
    background-color: #0067A3;
    border-radius: 5px;
    height: 150px;
}

.board-star {
    font-size: 20px !important;
    top: 27px !important;
}

.board-title {
    padding-left: 20px;
    color: #FFFFFF;
}

h1 .starred-boards {
    /*font-size: 22px;
    top: -2px;
    margin-right: 15px;*/
}

.boards-col {
    margin-top: 28px;
}

.board-create {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid #D2D2D2;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 5px;
    height: 150px;
}

.board-link, .board-create { 
    border-radius: 5px;
    height: 115px;
    background-color: #0079BF;
    color: white;
    margin-bottom: 20px;
}

.board-link:hover {
    background-color: #005B90;
}

.board-create-link {
    font-size: 20px;
    color: #959596;
}

.board-create-link:hover {
    color: #959596;
    text-decoration: none;
}

.board-create-head {
    text-align: center;
    color: rgba(51, 51, 51, 0.79);
    font-size: 21px;
    margin-top: 45px;
    /*padding-left: 33px;*/
}

.dingo-dropdown {
    width: 325px !important;
    margin-top: 5px !important;
    border-radius: 5px !important;
    padding: 8px !important;
}

.brand-logo {
    font-size: 18px;
    font-family: Leelawadee;
    font-weight: bold;
}

.brand-logo span {
    position: relative;
    top: 4px;
}

.brand-logo-con {
    width: 500px;
    margin-left: 370px;
    position: relative;
    top: 5px;
}

.profile-dropdown {
    width: 325px !important;
    margin-top: 5px !important;
    border-radius: 5px !important;
    padding: 8px !important;
}

.tm70 {
    margin-top: 70px;
}

.panel-custom {
    border-color: #9F9F9F;
    border-style: dashed;
    border-radius: 6px;
    background-color: #EFEFEF;
}

.dingo-dropdown .panel-title a {
    text-decoration: none;
}

.board-panel-title {
    font-weight: 600 !important;
    /*font-family: "open sans";*/
    border-bottom-color: rgba(0, 0, 0, 0.65) !important;
    cursor: text;
    padding-bottom: 3px;
    font-size: 17px;
    font-weight: 800;
}

.board-list-items {
  /*   margin-bottom: 7px;
    border-radius: 3px; */
	padding-top:0;
	padding-left:4px;
	padding-right:4px;
	margin:0px!important;
}

 .list-group-item{padding :2px 4px 4px!important;}
	
.board-list-items:first-child{border-radius:0px;}

.board-list-items .card-title{margin-bottom: 2px;margin-left:0px;font-size:14px;color:#000}
.container {
    width: 100%;
}
.row {
    margin: 0;
}

.bcategory-list:nth-of-type(1) {
  margin-left: 0px;
  margin-right:0px
}

.bcategory-list {
    width: 100%;
    float: left;
    margin: 0 10px;
}

@media(min-width:1200px){.deepu{width:20%!important;}}

.horizontal-container {
    padding-left: 0px !important;
    padding-top: 4px !important;
    padding-right: 0px;
    padding-bottom: 0px;
	height:100%;
    /*padding: 5px 0px 0px 20px;*/
    /*height: 565px;  */
    /* height: 640px;   */
    /*overflow-x: scroll;*/
    /*width: 100% !important;*/
}

.horizontal-row {
    display: inline-flex;
}

.well-cus {
    border-radius: 0px !important;
    height: 205px;
}

.profile-img {
    background-color: rgba(146, 146, 146, 0.78);
    height: 100px;
    border-radius: 4px;
}

.profile-img-con {
    padding: 0;
}


.user-pro-name {
    margin: 0;
}

.edit-user-data-btn {
    margin-top: 20px;
}





.btn.dropdown-toggle{
	background:#fff;
	border:1px solid #ccc;
	width:100%;
	text-align:left;
}

.btn.dropdown-toggle .caret{
	float:right;
	margin-right:5px;
	margin-top:8px;
}

a.nav-profile {
    border-bottom: 0px !important;
    border-radius: 4px 4px 1px 1px !important;
}

.nav-profile-con {
    margin-top: 47px;
}

.close-input-field {
    font-size: 25px;
    top: 8px;
    left: 25px;
    cursor: pointer;
}

/* Ajax Loading animation*/

#loadingbar {
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: -6px;
  width: 1%;
  height: 2px;
  background: #b91f1f;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#loadingbar.left {
  left: 100%;
  right: 0px;
  width: 100%;
}

#loadingbar.up {
  left: 0px;
  top: 100%;
  width: 5px;
  bottom: 0px;
  height: 100%;
}

#loadingbar.down {
  left: 0;
  width: 5px;
  height: 0;
}

#loadingbar.waiting dd, #loadingbar.waiting dt {
  -moz-animation: pulse 2s ease-out 0s infinite;
  -ms-animation: pulse 2s ease-out 0s infinite;
  -o-animation: pulse 2s ease-out 0s infinite;
  -webkit-animation: pulse 2s ease-out 0s infinite;
  animation: pulse 2s ease-out 0s infinite;
}

#loadingbar dt {
opacity: .6;
width: 180px;
right: -80px;
clip: rect(-6px,90px,14px,-6px);
}

#loadingbar dd {
  opacity: .6;
  width: 20px;
  right: 0;
  clip: rect(-6px,22px,14px,10px);
}

#loadingbar dd, #loadingbar dt {
  position: absolute;
  top: 0;
  height: 2px;
  -moz-box-shadow: #b91f1f 1px 0 6px 1px;
  -ms-box-shadow: #b91f1f 1px 0 6px 1px;
  -webkit-box-shadow: #B91F1F 1px 0 6px 1px;
  box-shadow: #B91F1F 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loadingbar.left dt {
opacity: .6;
width: 180px;
left: -4px;
clip: rect(-6px,185px,14px,25px);
}

#loadingbar.left dd {
  opacity: .6;
  width: 20px;
  left: 0;
  margin: 0;
  clip: rect(-6px,22px,14px,0px);
}

#loadingbar.left dd, #loadingbar.left dt {
  top: 0;
  height: 2px;
}

#loadingbar.down dt {
  opacity: .6;
  height: 180px;
  top: auto;
  bottom: -47px;
  clip: rect(-6px,20px,130px,-6px);
}

#loadingbar.down dd {
  opacity: .6;
  height: 20px;
  top: auto;
  bottom: 0;
  clip: rect(-6px,22px,20px,10px);
  margin: 0;
}

#loadingbar.down dd, #loadingbar.down dt {
  left: -5px;
  right: auto;
  width: 10px;
}

#loadingbar.up dt {
  opacity: .6;
  height: 180px;
  bottom: auto;
  top: -10px;
  clip: rect(13px,20px,190px,-6px);
}

#loadingbar.up dd {
  opacity: .6;
  height: 20px;
  bottom: auto;
  top: 0;
  clip: rect(-6px,22px,25px,10px);
  margin: 0;
}

#loadingbar.up dd, #loadingbar.up dt {
  left: -5px;
  right: auto;
  width: 10px;
}

@keyframes pulse {
  30% { opacity:0.6; }
  60% { opacity:0; }
  100% { opacity:0.6; }
}

@-moz-keyframes pulse 
{
  30% { opacity:0.6; }
  60% { opacity:0; }
  100% { opacity:0.6; }
}

@-ms-keyframes pulse 
{
  30% { opacity:0.6; }
  60% { opacity:0; }
  100% { opacity:0.6; }
}

@-webkit-keyframes pulse 
{
  30% { opacity:0.6; }
  60% { opacity:0; }
  100% { opacity:0.6; }
}

/* Stop Ajax loading animation*/

.card-con {
  min-height: 10px;
}

.list-group-item a {
    color: #4d4d4d ;
	margin-left:2px;
}
.list-group-item a:hover{text-decoration:underline!important;}

.list-group-item:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.frame {
    overflow-y: auto;
}

.frame::-webkit-scrollbar {
    -webkit-appearance: none;
}

.frame::-webkit-scrollbar:vertical {
    width: 6px;
}

.frame::-webkit-scrollbar:horizontal {
    height: 11px;
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /*border: 2px solid white; /* should match background, can't be transparent */
    background-color: #f5f5f5;
}



.card-list-con {
    max-height: 600px !important;
    background-color: whitesmoke;
}

.dashed-placeholder {
    border-radius: 3px;
    border: 1px dashed #999;
    width: 298px;
    height: 42px;
    background: #f5f5f5;
    margin-bottom: 5px;
}

.addSubTaskCon {
    padding: 0px 20px 30px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sub-task-content {
    font-size: 13px;
    font-weight: 600;
    font-family: monospace;
    font-style: italic;
    line-height: 1.5em;
    color: rgb(95, 90, 85);
}

.delete-task {
  color: #a94442;
  display: none;
}

/* Comment */

.detailBox {
    margin-bottom: 15px;
}
.comment-user-name h1{
  margin: 0 !important;
  font-size: 17px;
  font-weight: 600;
  font-family: tahoma;
  text-transform: capitalize;
}
ul.commentList {
  padding-left: 0px;
}
ul.commentList li {
  margin-bottom: 15px;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    padding: 10px 0px 10px 0px;
}

.input-editable {
  display: block;
  border-bottom: 1px dashed;
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
  box-shadow: none;
}

.input-editable:hover {
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
  box-shadow: none; 
}

.tags-input {
    width: 255px;
}

.select-input {
  width: 185px !important; 
}

.x-editable-input {
    width: 220px !important;
}

.commentList {
    max-height: 235px;
    overflow: scroll;
}

.overlay {
    opacity: 0.5;
    display: none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: black;
    z-index:9999;
    color:white;
}

.sidebar-inner ul li a {
    color: #444; 
    display: block; 
    font-size: 15px; 
    height: 64px; 
    line-height: 64px; 
    padding: 0 15px;
}

/* Type Js */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* Type Js */
.horizontal-container .panel-heading{
	   background-color: #FFFFFF; 
}
 .horizontal-container .panel-body {
    background-color: #f5f5f5;
	min-height:600px;
}

.progress {
  position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: #333;
    font-weight: 700;
}


#myDiv .toggle-button {
    float: right;
    right: 10px;
    position: absolute;
    background: transparent;
    border: 0px;
    padding-top: 10px;
}
.stared-board-list-con li a:hover {
  font-weight: 500;
}

.user-profile-intro {
  background-color: rgba(96, 125, 139, 0.02);
  padding-top: 30px;
  padding-bottom: 30px;
  color: #393333;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.17);
}

#make-fv-board {
    display: none;
}

.btn:focus{outline:none!important;}
.filter-btn .btn{color:#fff!important;border-radius:50px;margin-bottom:12px;}
.filter-btn .btn:focus{outline:none!important;}
 .header-fliters .header-fliters-data{margin-bottom:12px;padding-left:5px;padding-right:5px} 
 
 .task-list-data:first-child{padding-left:8px!important}
  
 .task-list-data:last-child{padding-right:8px!important}
 
  .task-list-data{
	   padding-left:8px!important;
	   padding-right:8px!important;
   }
   
   .btn-group, .btn-group-vertical{width:100%;}